th {background-color:#0097A7;}
tr {background-color:#B2EBF2; border-width: 0px}
#title {text-align: center;font-size:100%;
    font-family:verdana,arial,'sans serif'; }
table tbody tr:nth-child(even){background:#FFFFFF}
.operationtd { text-align: center;}
