<div id= "title"></div>
<button (click)="sortUsers('asc')">Up</button>
<button (click)="sortUsers('desc')" >Down</button>
<button (click)="sortUsers('random')">Random</button>
<button (click)="addNewUser()">New Student</button>

<table width = "100%">
  <thead><tr><th>操作<th>ID</th><th>姓名</th><th>邮箱</th><th>手机</th><th>性别</th></tr></thead>
  <tbody>
  <tr *ngFor="let user of users"><td class="operationtd"><button (click)="deleteUserByID(user.id)">删除</button></td><td>{{user.id}}</td><td>{{user.name}}<td>{{user.email}}</td><td>{{user.phone}}</td><td>{{user.sex}}</td></tr>
</tbody>
</table>